<h2 class="todo_list_title"><%= @todo.title %></h2>
<p class="todo_list_sub_title"><%= @todo.description %></p>

<div id="todo_items_wrapper">
	<%= render @todo.items %>
	<div id="form">
		<%= render 'items/form' %>
	</div>
</div>

<div class="links">
	<%= link_to "Edit", edit_todo_path %> | 
	<%= link_to "Destroy", todo_path, method: :delete, data: {confirm: "Are you sure?"} %> | 
	<%= link_to "Back", root_path %>
</div>